body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    margin: -10px;
    background-color: #1caf89;
}

li {
    float: left;
    border-right: 1px solid #2bb389;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: #ffff;
}

a:hover {
    color: #5de9c4;
}

/******** MAIN HOME *********/

.a-main {
    text-decoration: none;
}

#banner {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    display: block;
}

.main-topic {
    margin: 10px 200px 10px 200px;
    padding: 10px 200px 10px 200px;
    background-color: #f4f9ea;
    border-radius: 10%;
}

.footer {
    background-color: #2bb389;
    width: 100%;
    height: 60px;
    margin: -10px;
    color: #ffffff;
    text-align: center;
    align-items: center;
}

h1 {
    color: #2bb389;
    text-align: center;
}

/*********** PÁGINA: ORIGEM **********/

.timeline {
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    color: #ffffff
}

.timeline__date {
    color:#2bb389
}

.timeline__component {
    margin: 0 20px 20px 20px;
}

.timeline__component--bg {
    padding: 1.5em;
    background: rgb(43, 179, 137, 1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
}

.timeline__date--right {
    text-align: right;
}

.timeline__middle {
    position: relative;
    background: #2bb389;
}

.timeline__point {
    position: absolute;
    top: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #2bb389;
    border-radius: 50%;
}

.timeline__img {
    height: auto;
    width: 280px;
}

.timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
}

.timeline__paragraph {
    line-height: 1.5;
}

.timeline__point--bottom {
    top: initial;
    bottom: 0;
  }
  
  .timeline__date--right {
    text-align: right;
  }
  
  .timeline__title {
    margin: 0;
    font-size: 1.15em;
    font-weight: bold;
  }
  
  .timeline__paragraph {
    line-height: 1.5;
  }
  
  /*************** PÁGINA: LINGUAGEM ************/
  #img-language {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 600px;
    width: auto;
  }